
body {
  background-color: #F0F0F0;
}

.mainProfil {
  flex-direction: column;
  width: 205px;
  height: 30vh;
  align-items: center;
  padding: 20px;
  background: linear-gradient(177.01deg, rgba(251, 246, 246, 0.5) -0.54%, rgba(0, 0, 0, 0) 97.52%), #4D70ED;
  border-radius: 10px 10px 0px 0px;
}

.circle1{

position: absolute;
margin: 90px -17px 90px 190px;
width: 28px;
height: 26px;
background: rgba(216, 232, 153, 0.6);
border-radius: 100%;

}

.circle2{

  position: absolute;
  margin: -0px -100px 80px 140px;
  width: 78px;
  height: 76px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  
  }

  .circle3{

    position: absolute;
    margin: 90px 220px 60px -100px;
    width: 168px;
    height: 166px;
    background: rgba(239, 239, 239, 0.2);
    border-radius: 100%;
    
    }

.nemo {
  position: absolute;
  padding: 50px 50px 10px 10px;
  margin-top: 20px;
  margin-left: 25px;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 30px;
}

.memberName1 {
  margin-top: 200px;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.memberName2 {
  margin-top: 5px;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.memberPhone {

  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 60vh;
  background-color: #ffff;
  padding: 3px;
  padding-top: 15px;
  border-radius: 20px 20px 0px 0px;
}

.menu > *:not(.home) {
  /* .home 클래스를 제외한 모든 하위 요소에 스타일을 적용 */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #696868;
  margin: 5px;
  border: 1.5px solid #ccc;
  border-radius: 7px;
  background-color: #fff;
}

.menu2 {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 10vh;
  padding: 3px;
  background-color: #ffff;
  text-align: left; /* 왼쪽 정렬 추가 */
}

.line {
  height: 1px; /* 선의 높이 */
  width: 100%; /* 선의 너비 */
  border-bottom: 2px dashed #6B88EF; /* 파란 점선 스타일의 선을 그림 */
}

.circle4{
  padding: 10px 80px;
  width: 80px; /* 이미지의 가로 크기 */
  height: 70px; /* 이미지의 세로 크기 */
}




.first {
  border: none;

}

.mail {

}

.home {
  /* .home 클래스에 대한 스타일을 지정하지 않음 */
}

.hr {
  border: none;
  border-top: 1px solid #ccc;
 
}

.container{
  margin-top: -895px;
  margin-left: 250px;
  position: absolute;
  width: 82%;
  height: 105%;
  border-radius: 2%;
}

.no-style {
  /* 스타일이 적용되지 않도록 지정 */
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.title2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -30px;
  padding-bottom: 20px;
  /* 기타 스타일 */
}

.navbar2 {
  margin-left: 30px;
  display: inline-block;
  padding: 10px 20px;
  padding-top: 10px;
  font-size: 1.2rem;
  /* 기타 스타일 */
}

.navbar2.active::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #3552BB;
  margin-top: 9px;
}


hr {

  width: 80%;
  border: none;
  height: 2px;
  background-color: #7B7A7A;
  margin: 5px; /* 기본적인 마진값 제거 */
}
