a {
  text-decoration: none;
  color : black;
}

.header {
  width: 100%;
  height: 100px;
  background: black;
  color: white;
  font-size : 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





.content-col {
  display : flex;
  min-height: 80vh;
  background: lightgray;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding : 50px;
}

.content-col div {
  margin : 8px 0;
}

.actor {
  cursor : pointer;
}

.actor:hover {
  font-weight: bolder;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  justify-content: center;
  align-items: center;
  width : 300px;
  height : 300px;
  background-color: white;
  padding : 20px;
  margin : 20px;
  text-align: center;
}

body {
  background-color: #F0F0F0;
}

.mainProfil {

  display: flex;
  flex-direction: column;
  width: 200px;
  height: 30vh;
  align-items: center;
  padding: 20px;
  background: linear-gradient(177.01deg, rgba(251, 246, 246, 0.5) -0.54%, rgba(0, 0, 0, 0) 97.52%), #4D70ED;
  border-radius: 10px 10px 0px 0px;
}

.circle1{

position: absolute;
margin: 100px -17px 40px 170px;
width: 28px;
height: 26px;
background: rgba(216, 232, 153, 0.6);
border-radius: 100%;

}

.circle2{

  position: absolute;
  margin: -0px -100px 80px 20px;
  width: 78px;
  height: 76px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  
  }

  .circle3{

    position: absolute;
    margin: 80px 230px 80px 20px;
    width: 168px;
    height: 166px;
    background: rgba(239, 239, 239, 0.2);
    border-radius: 100%;
    
    }

.nemo {
  position: absolute;
  margin-top: 3%;
  width: 17vh;
  height: 16vh;
  background: #FFFFFF;
  border-radius: 30px;
}

.memberName {
  margin-top: 100%;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 80vh;
  background-color: #ffff;
  padding: 10px 0;
  border-radius: 20px 20px 0px 0px;
}

.menu > *:not(.home) {
  /* .home 클래스를 제외한 모든 하위 요소에 스타일을 적용 */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  color: #696868;
  margin: 10px;
  border: 1.5px solid #ccc;
  border-radius: 7px;
  background-color: #fff;
}

.myPage {

}

.mail {

}

.home {
  /* .home 클래스에 대한 스타일을 지정하지 않음 */
}

.hr {
  border: none;
  border-top: 1px solid #ccc;
 
}

.container{
  margin-top: -1012px;
  margin-left: 260px;
  position: absolute;
  width: 82%;
  height: 110%;
  background: rgba(255, 255, 255);
  border-radius: 2%;
}

.no-style {
  /* 스타일이 적용되지 않도록 지정 */
  color: inherit;
  text-decoration: none;
  cursor: default;
}



